<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="InquiryDTO" type="com.HATW.dto.InquiryDTO"/>
        <!-- 또는 패키지 전체 등록: <package name="com.HATW.dto"/> -->
    </typeAliases>
</configuration>