<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HATW.mapper.MarkerMapper">
    <!-- 1) 타입별 조회 (http://localhost:8080/markers?type=3)-->
    <select id="findMarkersByTypes" parameterType="list" resultType="com.HATW.dto.MarkerDTO">
        SELECT * FROM marker
        WHERE type IN
        <foreach collection="types" item="type" open="(" separator="," close=")">
            #{type}
        </foreach>
    </select>
    <select id="findElevatorsByStation"
            parameterType="string"
            resultType="com.HATW.dto.MarkerDTO">
        SELECT lon, lat, type, comment
        FROM marker
        WHERE type = 3
        AND comment LIKE CONCAT('%', #{station}, '%')
    </select>


</mapper>
